<!-- Subscribe form and footer links -->
<div class="row mt-5 pt-3">
  <div class="col-xl-6 col-lg-12 mb-4">
    <div class="tm-bg-gray p-5 h-100">
      <h3 class="tm-text-primary mb-3">
        En son güncellemelerimizi almak ister misiniz?
      </h3>
      <p class="mb-5">
         Yeni haberler ve çalışmalarımızla ilgili en son bilgiler için lütfen bültenimize abone olun. Teşekkür ederim.
      </p>
      <form action="" method="GET" class="tm-subscribe-form">
        <input type="text" name="email" placeholder="Email Adresiniz..." required />
        <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">
          Abone Ol
        </button>
      </form>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
    <div class="p-5 tm-bg-gray">
      <h3 class="tm-text-primary mb-4">YAZARLAR</h3>
      <ul class="list-unstyled tm-footer-links">
        <li><a href="#">Yakında...</a></li>
        <li><a href="#">*</a></li>
        <li><a href="#">*</a></li>
        <li><a href="#">*</a></li>
        <li><a href="#">*</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
    <div class="p-5 tm-bg-gray h-100">
      <h3 class="tm-text-primary mb-4">SAYFALARIMIZ</h3>
      <ul class="list-unstyled tm-footer-links">
        <li><a href="#">Makaleler</a></li>
        <li><a href="#">Haberler</a></li>
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">İletişim</a></li>
        <li><a href="#">Gizlilik Politikaları</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- row -->

<footer class="row pt-5">
  <div class="col-12">
    <p class="text-right">
      Copyright 2022 Tüm hakları saklıdır.
      <a href="#" rel="nofollow" target="_parent"
        >The News And Article Company</a
      >
    </p>
  </div>
</footer>
